.button {
    background-color: rgb(117, 179, 75);
    border: 2px solid rgb(109, 109, 109);
    padding: .5rem 1rem;
    border-radius: .8rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
    width: var(--largura);
    font-size: 1.3rem;
    transition: 0.2s;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-10px);
}